<mat-card>
    <mat-card-title>
        <h4 class="title">Sedi</h4>
    </mat-card-title>
    <mat-card-content>
        <mat-drawer-container class="drawer-container">
            <mat-drawer #drawer mode="side" position="end">
                    <app-create-appointment [selectedLocation]="selectedLocation" (closeDrawer)="this.drawer.close()"></app-create-appointment>
            </mat-drawer>
            <app-location-list [locationList]="locations" (selectLocation)="selectLocationHandler($event)"></app-location-list>
        </mat-drawer-container>
    </mat-card-content>
</mat-card>