
    <app-map-appointment *ngIf="coordinates" [coords]="coordinates"></app-map-appointment>

<div class="appointment-container">
    <mat-form-field appearance="fill">
        <mat-label>Seleziona una data:</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="appointmentDate" [matDatepickerFilter]="dateFilter"
            (dateInput)="setAppointmentDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <ng-container *ngIf="appointmentDate.value">
        <mat-selection-list role="list" [multiple]="false">
            <mat-list-option *ngFor="let slot of selectedAppointment?.slots" [value]="slot"
                (click)="confirmAppointment(slot)">
                <div class="slot-info">
                    <mat-icon>schedule</mat-icon>
                    <span>{{ slot }}</span>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </ng-container>
</div>