<div mat-dialog-content>
    <ng-container *ngIf="(status$ | async)?.type === 'list'">
        <app-search [contacts]="contacts$ | async" (searchText)="searchTextHandler($event)"></app-search>
        <app-contact-list 
            [searchText]="currentSearchText"
            [contactList]="contacts$ | async" 
            (selectContact)="selectHandler($event)"
            (editContact)="editHandler($event)"
            (deleteContact)="deleteHandler($event)"
        >
        </app-contact-list>
        <button mat-raised-button color="primary" style="width: 100%" (click)="newContact()">Nuovo contatto</button>
    </ng-container>
    <ng-container *ngIf="(status$ | async)?.type === 'new' || (status$ | async)?.type === 'edit'">
        <button mat-stroked-button style="margin-bottom: 20px; width: 100%" (click)="goBackToList()">Indietro</button>
        <app-contact-form [initialContact]="selectedContact$ | async" (saveContact)="saveHandler($event)"></app-contact-form>
    </ng-container>
</div>