<mat-card class="mat-elevation-z0">
    <mat-card-title>Lista dei movimenti</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill" style="margin-top: 20px">
            <mat-label>Seleziona una carta:</mat-label>
            <mat-select (selectionChange)="selectCard($event.value)">
                <mat-option [value]="null">None</mat-option>
                <mat-option *ngFor="let card of cards$ | async" [value]="card._id">
                    {{ card.number | formatCard }}
                </mat-option>
            </mat-select>
        </mat-form-field>

            <h1 *ngIf="selectedCard$ | async" style="font-weight: bold">Saldo: €{{ (selectedCard$ | async)?.amount }}</h1>
            <ng-container *ngFor="let movement of movements$ | async">
                <app-movement [title]="movement.title" [description]="movement.description"
                    [timestamp]="movement.timestamp" [type]="movement.type" [amount]="movement.amount">
                </app-movement>
            </ng-container>
            <button mat-raised-button color="primary" class="load-more-button" (click)="loadMoreMovements()">
                Carica altro
            </button>

    </mat-card-content>
</mat-card>