.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-list .mat-list-item-content {
    display: flex;
    gap: 16px;
}

.menu-icons {
    margin-right: 25px;
}

.active {
    font-weight: 600;
    background: rgba(0, 0, 0, 0.04);
}

.dashboard-content {
    height: calc(100% - 64px);
    overflow-y: auto;
}