.form-container {
    min-width: 150px;
    max-width: 35%;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.full-width {
    width: 100%;
}

.title {
    text-align: center; 
    margin-bottom: 20px;
}